:root {
	--bg-color: #053c54;
	--main-color: #f45c2c;
	--secondary: #e4d41c;
	--tertiary: #7c4c44;
	--white: #efefef;
}

::-webkit-scrollbar {
	display: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	color: var(--lib);
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	margin: 0;
}

a {
	text-decoration: none;
}

.logo img {
	width: 175px;
}

.header,
.name,
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #303033;
}

.name h3 {
	margin-top: 4px;
}

.authBtn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-width: 450px;
	position: relative;
	margin: 75px 0;
}

.button {
	display: flex;
	align-items: center;
	background-color: var(--main-color);
	color: var(--white);
	height: 40px;
	border-radius: 12px;
	padding: 0 20px;
}

.button img {
	height: 25px;
	width: 25px;
	margin-right: 6px;
}

.counterBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #d9d9d9;
	height: 150px;
	width: 100%;
}

.badge span {
	display: block;
	width: 10px;
	height: 50px;
}

.badge span:first-child {
	background-color: var(--secondary);
}

.badge span:nth-child(2) {
	background-color: var(--bg-color);
}

.badge span:last-child {
	background-color: var(--main-color);
}

.counterContainer {
	background-color: var(--bg-color);
	padding: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120%;
	border-radius: 20px;
}

.counter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--white);
	border-radius: 12px;
	padding: 10px;
	width: 175px;
	text-align: center;
	margin: 0 25px;
}

.counter img {
	width: 40px;
	height: 40px;
}

.counter h3,
.counter p {
	margin: 6px;
}

footer {
	color: #666666;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	padding: 10px;
}
